<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block mesd_filter_head %}
        {% endblock mesd_filter_head %}
    </head>
    <body>
        <div>
            {% block mesd_filter_content %}
            {% endblock mesd_filter_content %}
        </div>
    </body>
</html>