<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block mesd_filter_head %}
        {% endblock mesd_filter_head %}
    </head>
    <body>
        <div>
            {% block mesd_filter_content %}
            {% endblock mesd_filter_content %}
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.7/es5-sham.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
    </body>
</html>