{% extends "MesdFilterBundle::layout.html.twig" %}

{% block body %}
    <h1>Editing {{ entity }}'s filters</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('MesdFilterBundle_oneusermanyfilters') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
